# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Camila Riquelme\Documents\GitHub\pythontalentodigital2020\CODINGDOJO\django\primer_proyecto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
